body {margin:0; font-family: 'Fira Sans', sans-serif; color:#333}
.main-wrapper {box-sizing: border-box; width:80%; max-width: 1000px; margin:3% auto; font-size:1.2em}

a {color:#05a5c8;}
a:hover {color:#0f86a1;}

.ticker-container {font-weight:300; line-height:160%;}

.ticker-logo-area {text-transform: uppercase; font-weight:bold; font-size:0.9em; text-align: center; margin-bottom:2.5em;}
.ticker-logo-area span {color:#05a5c8}
.ticker-logo-area img {width:26px; vertical-align: middle; position:relative;top:-2px;}

.ticker-headline {font-weight:300; font-size:2.6em; margin-bottom:1.5em; text-align:left; line-height: 110%;}

.ticker-posts {width:90%; max-width:600px; margin:0 auto;}

.ticker-date {position:absolute; left:-6.2em; font-size:.8em; font-style: italic; color:#474747;
 background:#f3f3f3; border-left:2px solid #05a5c8; padding: 0.0em 0.6em 0em 0.4em; opacity:0.5}
.ticker-date span {font-size:0.8em;}

.ticker-post:hover .ticker-date {border-left:2px solid #ad5656; opacity:1; transition: opacity 0.4s}

.ticket-post-authorthumb {position:absolute; right:-4em; top:-.5em; width:50px; opacity:.2; border-radius: 50%;}
.ticker-post:hover .ticket-post-authorthumb {opacity:1; transition: opacity 0.4s}

.ticker-post {border-bottom:1px dashed #dadada; background:none; margin-bottom:2em; padding-bottom:2em; position:relative;}
.ticker-post p {word-wrap:break-word;}
.ticker-post img.ball {vertical-align: bottom}
.ticker-post strong {font-weight:700;}

.ticker-post:last-of-type {border-bottom:none; padding-bottom:0;}
.ticker-post p:last-of-type{margin-bottom:0;}
.ticker-post-time {float:left; margin-right:.5em; color:#aaa; font-weight:bold;}
.ticker-post-media {margin-top:1em;}
.ticker-post-media:first-of-type {margin-top:1em;}
.ticker-post-media img {max-width:100%;}
.ticker-post-media iframe {width:100%;}

.ticker-post.added .ticker-post-content {animation: ticker-added 0.5s; animation-timing-function: linear;}
@keyframes ticker-added { from {background-color: #e0ffbe;} to {background-color: none} }

.ticker-post.edited .ticker-post-content {animation: ticker-edited 0.5s; animation-timing-function: linear;}
@keyframes ticker-edited { from {background-color: #fefeab;} to {background-color: none} }

.ticker-post.deleted .ticker-post-content {animation: ticker-deleted 0.5s; animation-timing-function: linear;}
@keyframes ticker-deleted { from {background-color: #ffcece;} to {background-color: none} }

.ticker-refresh {max-width:200px; float:right; width:100%; position:relative; top:5px; margin-left:1em;}

@media only screen and (max-width: 960px) {
.ticker-refresh {float:none; max-width:90%; margin:0 auto;}
.ticker-headline {text-align:center; font-size:2em}
.ticker-date {position: static}
.ticker-logo-area {margin-bottom:1em;}
.ticket-post-authorthumb {display:none;}
}


.ticker-refresh-button {font-size:0.8em; padding:0.6em 0.8em; background: #474747; color:white; border:0;
cursor:pointer; margin:0 auto; display:block; font-family: 'Fira Sans', sans-serif; font-weight:300; text-transform: uppercase; width:100%;}

.ticker-refresh-button:hover {background:#60bbd0;}
.ticker-refresh-button:active {background:#036f87;}
.ticker-refresh-button:disabled {cursor:wait; background:#6dd9f1}

.ticker-refresh-wrapper {max-width:100%; margin:0 auto; height:7px;
background:#efefef; margin-bottom:2em; border-radius: 1px;}

.ticker-refresh-bar { width:0%; height:100%; background:#05a5c8; border-radius: 1px;
animation: ticker-bar-grow 30s infinite;
animation-timing-function: linear;}
@keyframes ticker-bar-grow { from {width: 0;} to {width: 100%;} }


/* Media Containers */
.media-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px ;
	margin-bottom:0px;
	height: 0;
	overflow: hidden;
}

.media-container iframe,
.media-container object,
.media-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* End Media Containters */